:root {
  width: 100%;

  /* Font Variables */
  --font-primary: "Inter", sans-serif;
  --font-felipa: "Felipa", cursive;

  font-family: var(--font-primary);
  line-height: 1.5;
  font-weight: 400;

  /* Color Variables */
  --grey-normal: #ffffff;
  --grey-dark: #bfbfbf;
  --grey-darker: #595959;

  --blue-normal: #0e1049;
  --blue-darker: #05061a;

  --black-normal: #333333;
  --black-darker: #000000;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Font Face Declaration for Local Felipa Font */
@font-face {
  font-family: "Felipa";
  src: url("/fonts/Felipa-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

#root {
  width: 100%;
  height: 100vh;
  background-color: #242424;
}
